.mainContent {
  padding: 2rem;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.card {
  height: 50vh;
  width: 40vh;
  background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  }
}
.cardRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 25vh;
  justify-content: center;
  object-fit: cover;
}